@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}

body::-webkit-scrollbar {
  display: none; /* 스크롤바 숨기기 */
}

body {
  @apply bg-[#111111] text-white;
  scrollbar-width: none; /* 파이어폭스용 */
  



}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
